<!DOCTYPE html>
<html>
<head>
  <title>DiyAssistant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="nav nav-pills">
    <li role="presentation" ><a> <%= link_to 'Home', root_path%> </a></li>
    <li role="presentation"><a> <%= link_to 'Create guide', new_instruction_path %></a></li>
    <% if current_user %>

      <li role="presentation"><a> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></a></li>

    <% else%>
      <li role="presentation"><a> <%= link_to 'Sign in', new_user_session_path %></a></li>
      <li role="presentation"><a> <%= link_to 'Sign up', new_user_registration_path %></a></li>
    <%end%>
  </ul>



  <% console if ENV['RAILS_ENV']=='development' %>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
   <form action = "/search", method = "get">
     <%= label_tag(:q, 'Search for:') %>
     <%= text_field_tag(:q) %>
     <%= submit_tag('Search', name: nil) %>
   </form>

 </br> </br> </br>
<%= yield %>


<script id="dsq-count-scr" src="//diy-assistant.disqus.com/count.js" async></script>
</body>
</html>
